* {
    box-sizing: border-box;
}


/* basic stylings ------------------------------------------ */

body {}

.container {
    font-family: 'Roboto';
    width: 600px;
    margin: 30px auto 0;
    display: block;
    background: #FFF;
    padding: 10px 50px 50px;
}

h2 {
    text-align: center;
    margin-bottom: 50px;
}

h2 small {
    font-weight: normal;
    color: #888;
    display: block;
}

.footer .footer-line {
    text-align: center;
}

.footer a {
    color: #53B2C8;
}


/* form starting stylings ------------------------------- */

.group {
    position: relative;
    margin-bottom: 45px;
}